form{
background-color: #12cad6;
width: 12%; 
text-align: center;
align-items: center;
align-content: center;
 margin-bottom: 100px; 
margin-left: 600px;
margin-top: 70px;
padding: 200px;
font-size: 25px;

}
h2{
   font-size: 50px;
   text-align: center;
}   
